@if (!gameOver) {
<div class="row py-2">
  @for (option of gameOptions; track option) {
  <div class="col-4">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title
          >{{ `home.game-screen.${option | lowercase}` | translate}}</mat-card-title
        >
      </mat-card-header>
      <img
        mat-card-image
        class="h-50 w-50 mx-auto my-3"
        [src]="`${option}.png`"
      />
      <mat-card-actions>
        <button matButton class="mx-auto" (click)="postTurn(option)">
          {{ "home.game-screen.select" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  } @empty {
  <li>There are no items.</li>
  }
</div>
} @else {
<div class="row py-2">
  <div class="col-6 mx-auto">
    <mat-card appearance="outlined">
      <mat-card-header class="mb-4">
        <mat-card-title>{{
          "home.game-screen.game-over" | translate
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ "home.game-screen.game-result" | translate }}
          <strong
            >{{ `home.game-screen.${gameOverResult | lowercase}` | translate}}</strong
          >
        </p>
        <p>{{ "home.game-screen.game-over-message" | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton class="mx-auto" (click)="restartGame()">
          {{ "home.game-screen.restart-game" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
}
